footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

canvas#diagram {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%,-35%);
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
}

nav {
  overflow: hidden;
  height: unset;
  text-align: center;
}
  nav > h4 {
    margin-bottom: 5px;
  }
  nav > p {
    margin: 0;
  }
